import(affy)

##export everything that does not start with a .
##exportPattern("^[^\\.]")
export(
       estimate.affinities,
       estimate.hyperparameters,       
       get.batches,
       get.probe.noise.estimates,
       #get.set.inds,
       hyperparameter.update,
       online.quantile,
       plot.rpa,              
       qnorm.basis.online,
       rpa,
       RPA.dcost,
       rpa.fit,
       RPA.iteration,
       #rpa.online,
       rpa.plot,
       RPA.pointestimate,
       RPA.preprocess,
       rpa2eset,
       sample.probeset,
       summarize.batches,
       s2.update
)

#RPA.sigma2.update,              
#initialize.priors,                                        
#d.update.fast

exportClasses(
"rpa",
"rpa.fit",
"rpa.list"
#"rpa.priors"
)

importFrom(methods, show)

S3method(plot, rpa.list)

exportMethods(
"[", 
"[[",
show
)


