export(RPA.iteration)
export(RPA.pointestimate)
export(RPA.preprocess)
export(collect.hyperparameters)
export(estimate.affinities)
export(estimate.hyperparameters)
export(get.probe.matrix)
export(get.probe.noise.estimates)
export(get.probe.parameters)
export(hyperparameter.update)
export(online.quantile)
export(probe.performance)
export(probetable)
export(rpa)
export(rpa.fit)
export(rpa.online)
export(rpa.plot)
export(rpa.summarize)
export(rpa2eset)
export(sample.probeset)
export(summarize.batch)
export(summarize.batches)
export(updating.hyperparameters)
