import(affy)

##export everything that does not start with a .
##exportPattern("^[^\\.]")
export(RPA.pointestimate,
RPA.iteration,
RPA.preprocess,
#RPA.sigma2.update,
#initialize.priors,
set.priors,
rpa2eset,
RPA.dcost,
#d.update.fast,
rpa,
rpa.plot
)

exportClasses("rpa",
"rpa.priors",
"rpa.list"
)

importFrom(methods, show)

S3method(plot, rpa.list)

exportMethods(
"[", 
"[[",
show
)


